{{#if item}}
<div {{bind-attr class=":card :list-item"}} data-id="">
  <div>
    {{yield}}
  </div>
  <div class="actions">
    <button class="card-button danger" {{action "delete" item}}>×</button>
  </div>
</div>
{{else}}
<div class="card" data-id="">
  <div>
    {{yield}}
  </div>
</div>
{{/if}}
