<div class="card new-job">
  <label>
    Select taxonomy:
    <span class="select-wrapper">
    {{view "select"
      content=model.taxonomies
      optionValuePath="content.id"
      optionLabelPath="content.name"
      value=currentTaxonomy
    }}
    </span>
  </label>

  <label>
    Select Upload:
    <span class="select-wrapper">
    {{view "select"
      content=model.uploads
      optionValuePath="content.id"
      optionLabelPath="content.filename"
      value=currentUpload
    }}
    </span>
  </label>

  <label>
    Manual:
    {{input type="checkbox" name="addToManualMappings" checked=addToManualMappings}}
  </label>

  <label>
    Training:
    {{input type="checkbox" name="addToTrainingSet" checked=addToTrainingSet}}
  </label>

  <button
    class="button primary-button"
    {{action "train"}}
  >Train</button>
  <button
    class="button primary-button"
    {{action "classify"}}
  >Classify</button>
</div>

<div class="container with-sidebar">
  <div class="card-table float-left">
    <div class="cards">
      {{#each product in pagedContent}}
          <div class="card" data-id="" {{action 'showMeta' product}}>
            <div>
              {{product.name}}
              <small>
                {{ product.mappings.[0].categoryString }}
              </small>
            </div>
          </div>
      {{/each}}
      {{page-numbers content=pagedContent}}
      <a target="_blank" {{bind-attr href='downloadAddress'}}>Download XML</a>
    </div>
  </div>
  <div class="sidebar float-right">
    <h3>Classification Results</h3>
    {{#if currentProduct}}
      <p>Name: {{currentProduct.name}}</p>
      <p>Source Category: {{currentProduct.origin}}</p>
      <button class="btn" {{action 'editMapping' }}>Manually Map</button></p>
      {{#if editingMapping}}
        <label> Select Upload:
          <span class="select-wrapper">
            {{view "select"
                      content=categories
                      optionValuePath="content.id"
                      optionLabelPath="content.parts"
                      value=newCategory
            }}
          </span>
        </label>
        <button class="btn" {{action 'saveMapping' }}>Save</button>
      {{/if}}
      {{#each mapping in currentProduct.mappings}}
        <p><strong>Mapping</strong></p>
        <p><strong>Destination: </strong>{{mapping.categoryString}}

        <p><strong>Confidence: </strong>{{mapping.confidence}}</p>
        <p><strong>Method: </strong>{{mapping.method}}</p>
      {{/each}}
    {{else}}
      <p>Please select a product for classification info</p>
    {{/if}}
    <h3>Training Results</h3>
    {{#if haveTrained}}
      <p>Manual: {{trainCountManual}}</p>
      <p>Classifier: {{trainCountClassifier}}</p>
    {{else}}
      <p>Please run a train job to see the results here</p>
    {{/if}}
  </div>
</div>

{{outlet}}
