<div class="container with-sidebar">
  <div class="card-table float-left">
    <h3>Existing taxonomies</h3>
    <div class="cards">
      {{#each taxonomy in model}}
        {{#link-to 'single' taxonomy}}
          {{#list-item item=taxonomy dependentRelationship="categories"}}
            {{taxonomy.name}}
          {{/list-item}}
        {{/link-to}}
      {{else}}
        No taxonomies have been uploaded yet.
      {{/each}}
    </div>
    <h3>Add a new taxonomy</h3>
    <div class="actions align-left">
      {{input
        value=uploadName
        class='large-input'
        placeholder='Taxonomy name'
      }}
      {{file-input action="upload" text="Upload Taxonomy"}}
    </div>
  </div>
  <div class="sidebar float-right">
    <h3>Taxonomy Info</h3>
    {{outlet}}
  </div>
</div>
