<div class="container with-sidebar">
  <div class="card-table float-left">
    <div class="cards">
      {{#each upload in model}}
        {{#list-item item=upload}}
          <span style="margin-right: 1em">
            {{upload.filename}}
          </span>
          <small>
            Mapping Count:
            {{upload.mappingCount}}
          </small>
          <small>
            Product Count:
            {{upload.productCount}}
          </small>
        {{/list-item}}
      {{else}}
        No product data has been uploaded yet.
      {{/each}}
    </div>
    <div class="actions align-left">
      <h3>Upload some product data (XML)</h3>
      {{file-input action="upload"}}
    </div>
  </div>
  <div class="sidebar float-right">
    <h3>Upload information</h3>
  </div>
</div>

{{outlet}}
